html {
  scroll-behavior: smooth;
}

h1 {
  font-size: min(max(16px, 6vw), 50px) !important;
  font-family: fangsong;
}

h2 {
  font-size: min(max(14px, 5vw), 35px) !important;
}

h3 {
  font-size: min(max(12px, 4vw), 30px) !important;
}

p {
  font-size: min(max(10px, 3vw), 18px) !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  background-color: #87a7b3 !important;
}

.mainBody {
  padding: 0 0.5rem;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

.websiteTitle {
}

.sectionTitle {
  padding: 26px 10px;
  text-align: center;
}

.InfoSectionRow {
  margin-left: 0px !important;
  margin-right: 0px !important;
  width: 100%;
}

.mythBox {
  padding: 5px;
}

@media only screen and (max-width: 900px) {
  .InfoSectionCallout {
    min-height: 200px;
  }
}

@media only screen and (min-width: 900px) {
  .InfoSectionCallout {
    min-height: 350px;
  }
}

.InfoSectionCallout {
  min-width: 400px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.InfoSectionDetailText {
  margin: 0;
  width: 100%;
  padding: 10px;
}

.InfoSectionCalloutText p {
  font-size: min(max(18px, 3vw), 36px) !important;
}

.InfoSectionCalloutText {
  font-style: italic;
  font-weight: bold;
  position: absolute;
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  width: 100%;
  transform: translateY(-50%);
  padding: 10px;
}

.InfoSectionText {
  margin: 40px;
}

.signPetitionButton {
  margin-top: 20px;
  padding: 5px;
}

.carousel-img-item {
  width: 100%;
}

.form-submitted {
  background-color: rgba(104, 104, 104, 0.5);
}

.photo-hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #02475e;
  width: 100%;
  text-align: center;
  color: rgb(255, 255, 255);
}
